# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.TeacherAttendance.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ghassan\source\repos\TeacherAttendance\.idea\.idea.TeacherAttendance\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
